@media (max-width: 1265px) {
    .reviews-slider .slick-list {
        margin: 0;
    }
    .reviews-slider .slick-slide {
        margin: 0;
        padding-bottom: 70px;
    }
    .reviews-box {
        box-shadow: none;
    }
}
 
@media (max-width: 1160px) {
    .price-items {
        flex-wrap: wrap;
    }
    .price-item {
        max-width: 48%;
        margin-bottom: 50px;
    }
    .price-item__number {
        margin: 0 auto;
        right: 0;
        left: 0;
    }

}

@media (max-width: 1105px) {
    .reviews-slider {
        padding-top: 60px;
    }
    .reviews-box {
        max-width: 520px;
        margin: 0 auto;
    }
}

@media (max-width: 1065px) {
    .top-info {
        max-width: 425px;
    }
    .footer__inner {
        flex-wrap: wrap;
    }
    .footer-col__logo {
        width: 100%;
        margin-bottom: 30px;
    }
}

@media (max-width: 992px) {
    .menu__list {
        display: none;
        position: absolute;
        top: 87px;
        left: 0;
        right: 0;
        text-align: center;
        width: 100%;
        z-index: 5;
    }
    .menu__list a {
        display: block;
        padding: 10px 0px;
        border-bottom: 1px solid #000;
        border-top: 1px solid #000;
        background-color: #fff;
    }
    .menu__list li {
        margin-left: 0;
    }
    .btn__menu {
        display: block;
    }
    .partners__inner {
        flex-wrap: wrap;
    }
    .partners__images {
        width: 33.33%;
    }
}

@media (max-width: 940px) {
    .top-info {
        max-width: 325px;
    }
}

@media (max-width: 855px) {
    .top-images__box img {
        width: 300px;
    }
    .top-images__circle {
        width: 160px;
        height: 160px;
        top: -20px;
        right: -10px;
    }
}

@media (max-width: 740px) {
    .top__inner {
        flex-wrap: wrap;
        justify-content: center;
    }
    .top-info {
        width: 100%;
        margin-right: 0;
        margin-bottom: 75px;
    }
    .top, 
    .price, 
    .reviews,
    .partners {
        padding-top: 50px;
        padding-bottom: 80px;
    }
    .price-item {
        max-width: 100%;
    }
    .partners__images {
        width: 48%;
    }
    .footer-form {
        width: 100%;
        margin-top: 30px;
    }
    .footer__inner {
        justify-content: flex-start;
    }
}

@media (max-width: 580px) {
    .reviews-box {
        display: block;
    }
    .reviews-box__images {
        width: 100%;
        min-height: 200px;
    }
    .reviews-box__content {
        width: 100%;
        padding: 20px;
        min-height: 260px;
    }
   
    .partners__images {
        width: 100%;
    }
}

@media (max-width: 399px) {
    .top-info__title {
        font-size: 40px;
        line-height: 42px;
    }
    .top-images__circle {
        top: -5px;
        right: 10px;
    }
    .title {
        font-size: 36px;
        line-height: 40px;
    }
    .price__descr {
        margin: 35px auto 50px;
    }
    .price-item {
        padding: 0 20px 60px;
    }
    .reviews-slider {
        margin-top: 30px;
    }
    .footer-menu {
        width: 100%;
        margin-bottom: 30px;
    }
}




@media (min-width: 992px) {
    .menu__list {
        display: flex !important;
    }
}